.movie-details {
  max-width: 60rem;
  margin: 0 auto;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .card {
    display: flex;
    padding: 1rem 1.5rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    .poster {
      width: 40%;
    }

    .info {

      margin-left: 2rem;

      p {
        line-height: 1.8rem;
      }
    }
  }

  .overview {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    h3 {
      margin-bottom: 0.8rem;
    }
  }

  &:global {
    animation: fade-in 250ms ease-out;
  }
}