.review-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;

  .review-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-info {
      display: flex;
      gap: 1rem;
      align-items: center;

      &>div {
        height: 40px;
        width: 40px;
      }
    }
  }

  p {
    line-height: 1.8rem;
  }
}