.review-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;

  .review-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-info {
      position: relative;
      display: flex;
      gap: 1rem;
      align-items: center;

      .poster {
        svg {
          position: absolute;
          top: 6px;
          left: 5px;
          height: 30px;
          width: 30px;
          fill: #737477;
        }

        &>div {
          height: 40px;
          width: 40px;
        }
      }

    }
  }

  p {
    line-height: 1.8rem;
  }
}