.review-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;

  .review-head {
    display: flex;
    justify-content: space-between;
  }

  p {
    line-height: 1.8rem;
  }
}