.navbar {
  position: fixed;
  width: 10rem;
  min-height: 100vh;
  background-color: #292e34;
  color: #9ba9bb;
  text-align: center;
  z-index: 1;

  h1 {
    margin: 2rem 0 5rem;
    font-size: 1.3rem;
  }

  ul {
    display: flex;
    flex-flow: column;

    li {

      a {
        display: flex;
        gap: 1rem;
        padding: 1rem 1.5rem;

        svg {
          width: 16px;
          fill: #9ba9bb;
        }
      }

      &:hover {
        color: #fff;

        svg {
          fill: #fff;
        }
      }

    }
  }
}