.app {
  display: flex;
  width: 100vw;
}

.content {
  margin: 4rem 10% 4rem calc(10rem + 10%);
  flex-grow: 1;
}

.text-highlighted {
  width: fit-content;
  background: -webkit-linear-gradient(rgb(33, 147, 176), rgb(109, 213, 237));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}