.app {
  display: flex;
  width: 100vw;
}

.content {
  margin: 4rem 10% 4rem calc(10rem + 10%);
  flex-grow: 1;
}

.text-highlighted {
  width: fit-content;
  background: -webkit-linear-gradient(rgb(33, 147, 176), rgb(109, 213, 237));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.big-title {
  font-size: 30px;
  margin-bottom: 2rem;
}

.big-title span {
  background: none;
  -webkit-text-fill-color: #000;
  background-clip: border-box;
}

.active {
  background: -webkit-linear-gradient(rgb(33, 147, 176), rgb(109, 213, 237));
  color: #fff;
}

.active svg {
  fill: #fff !important;
}

.btn {
  display: block;
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 0.7rem;
  border: 3px solid #737477;
  font-size: 0.9rem;
  font-weight: bold;
  color: #737477;
}

.btn:hover {
  border-color: #57585b;
  color: #57585b;
}

.hidden {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .app {
    display: block;
  }

  .content {
    margin: 2rem 5% 4rem;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .big-title {
    font-size: 20px;
  }
}